
 /* Title Bar============================== */
.title-bar {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-column-gap: 10px;
  margin: 30px 0;
}

h1 {
  text-align: center;
}

.title-bar img {
  display: block;
  margin: 0 auto;
  height: 25px;
  width: auto;
}

/* Top Navigation=========================== */

.topnav-wrapper {
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.25);
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  grid-column-gap: 10px;
  height: 30px;
  margin-bottom: 10px;
  width: 95%;
}

.topnav-wrapper div:nth-of-type(1) {
  text-align: left;
  padding-left: 20px;
}

.topnav-wrapper div:nth-of-type(2) {
  text-align: center;
}

.topnav-wrapper div:nth-of-type(3) {
  text-align: right;
  padding-right: 20px;
}

/* New Workouts========================== */

#flashFive {
  margin-top: 1em;
  object-position: 50% 15%;
}

.new-description {
  margin-left: 20px;
}

.horizontal-line {
  background-color: #FFAE3F;
  display: block;
  height: 1.25px;
  margin: 5px auto;
  width: 75%;
}

/* Other Workouts=========================== */

.workout-wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 5px;
  margin: 1em auto;
  text-align: left;
  width: 95%;
}

#friend-workout {
  margin-bottom: 3em;
}

.workout-image {
  height: 150px;
  object-fit: cover;
  object-position: center;
  width: 95%;
}

.workout-wrapper .box1, .workout-wrapper .box2 {
  padding-left: 10px;
}

h2 {
  font-size: 1.25em;
  font-weight: 800;
  padding-top: 1em;
  padding-left: 20px;
}

h3 {
  color: #414141;
  font-weight: normal;
  padding-bottom: 5px;
  margin-top: 0.75em;
}

.like {
  bottom: 195px;
  left: 355px;
  position: relative;
  height: 20px;
  width: auto;
  z-index: 2;
}

.box1 .like, .box2 .like {
  position: relative;
  top: -140px;
  left: 150px;
  z-index: 2;
}

.box1, .box2 {
  max-height: 200px;
}

.friend-photo {
  border-radius: 50%;
  box-shadow: 0 3px 2px -2px rgba(0, 0, 0, 0.5);
  height: 3.5em;
  position: relative;
  bottom: 215px;
  right: 15px;
  width: 3.5em;
  z-index: 2;
}

.number {
  background-color: #FFAE3F;
  border-radius: 50%;
  height: 1em;
  position: relative;
  top: 0;
  left: 48px;
  width: 1em;
  z-index: 3;
}

.number p {
  color: #FFF;
  font-size: 0.75em;
  text-align: center;
}

#photo1 {
  background-image: url("../images/friend1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#photo2 {
  background-image: url("../images/friend2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
